---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    meta.helm.sh/release-name: czbank-front
    meta.helm.sh/release-namespace: default
  labels:
    app: czbank-front
    app.kubernetes.io/managed-by: Helm
  name: czbank-front
  namespace: itg
  resourceVersion: '20595609'
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: czbank-front
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: czbank-front
    spec:
      containers:
        - env:
            - name: LANG
              value: en_US.UTF-8
          image: 'yunweiimg.secxun.com/itg/czbank-front:215'
          imagePullPolicy: Always
          name: czbank-front
          resources:
            limits:
              cpu: '4'
              memory: 4Gi
            requests:
              cpu: 200m
              memory: 128Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: regcred
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: czbank-front
    meta.helm.sh/release-namespace: default
  labels:
    app: czbank-front
    app.kubernetes.io/managed-by: Helm
  name: czbank-front
  namespace: itg
  resourceVersion: '2151858'
spec:
  clusterIP: 10.101.106.213
  clusterIPs:
    - 10.101.106.213
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - nodePort: 30545
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: czbank-front
  sessionAffinity: None
  type: NodePort

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    meta.helm.sh/release-name: czbank-front
    meta.helm.sh/release-namespace: default
    nginx.ingress.kubernetes.io/proxy-body-size: 200M
    nginx.ingress.kubernetes.io/proxy-connect-timeout: '360'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '360'
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  labels:
    app.kubernetes.io/managed-by: Helm
  name: czbank-front
  namespace: itg
  resourceVersion: '2151930'
spec:
  rules:
    - host: itg.secxun.cn
      http:
        paths:
          - backend:
              service:
                name: czbank-front
                port:
                  number: 80
            path: /czbank-front(/|$)(.*)
            pathType: ImplementationSpecific






